excludes = [
  # Built per-target language instead
  "**/TargetSpecific/*.dfy",
]

# includes = [
#   "Std/Collections/Set.dfy",
#   "Std/Functions.dfy",
#   "Std/Relations.dfy",
<<<<<<< HEAD
#   "Std/Termination.dfy",
#   "Std/DateTime/*.dfy"
=======
#   "Std/Termination.dfy"
#   "Std/Statistics.dfy"
>>>>>>> e794f305e3b952d06a61a92a3bda2aff98526a5f
# ]

[options]
# Options that help support more values of consuming context options
# (mostly turning on any more restrictive verification)
track-print-effects = true
enforce-determinism = true
reads-clauses-on-methods = true
type-system-refresh = true
general-traits = "datatype"
general-newtypes = true

# Options important for sustainable development
# of the libraries themselves.
resource-limit = 1000000
verification-time-limit = 300
# These give too many false positives right now, but should be enabled in the future
warn-redundant-assumptions = false
warn-contradictory-assumptions = false