<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xsi:schemaLocation="NLog NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- the targets to write to -->
  <targets>
    <target
        xsi:type="File"
        name="file"
        fileName="${baseDir}/log.txt"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
        keepFileOpen="true"
    />
  </targets>

  <rules>
    <logger name="DafnyLS.*" minlevel="Trace" writeTo="file" final="true" />
    <logger name="*" minlevel="Warn" writeTo="file" />
  </rules>
</nlog>
