body, td {
    font-family:sans-serif;
    font-size:10pt;
}

h1 {
    font-weight:bold;
    font-size:18pt;
}

.menu {
    border:#d6d3ce 1px solid;
    padding:2px 4px 2px 4px;
}

.menu a {
    margin-left:8px;
}

pre.source {
    border:#d6d3ce 1px solid;
    font-family:monospace;
}

pre.source span.fc {
    background-color: #b0f18f;
}

pre.source span.nc {
    background-color: #f68c8c;
}

pre.source span.pc {
    background-color: #f3f392;
}

table.coverage {
    empty-cells:show;
    border-collapse:collapse;
}

table.coverage thead {
    background-color:#e0e0e0;
}

table.coverage thead td {
    white-space:nowrap;
    padding:2px 14px 0px 6px;
    border-bottom:#b0b0b0 1px solid;
}

table.coverage thead td.ctr2 {
    text-align:right;
    padding-left:2px;
}

table.coverage tbody td {
    white-space:nowrap;
    padding:2px 6px 2px 6px;
    border-bottom:#d6d3ce 1px solid;
}

table.coverage tbody tr:hover {
    background: #f0f0d0 !important;
}

table.coverage tbody td.ctr2 {
    text-align:right;
    padding-right:14px;
    padding-left:2px;
}

table.coverage tfoot td {
    white-space:nowrap;
    padding:2px 6px 2px 6px;
}

table.coverage tfoot td.ctr2 {
    text-align:right;
    padding-right:14px;
    padding-left:2px;
}

.footer {
    margin-top:20px;
    border-top:#d6d3ce 1px solid;
    padding-top:2px;
    font-size:8pt;
    color:#a0a0a0;
}