
.highlightedCode
{
   font-family: monospace;
}
.highlightedCode .number
{
   color: red;
}
.highlightedCode .keyword
{
   color: blue;
}
.highlightedCode .ident
{
   color: black;
}
.highlightedCode .comment
{
   color: green;
}