/// # C#/Dafny interop: Dafny model template (filled by AutoExtern from ../Library/Library.cs)

include "../../../../Source/AutoExtern/CSharpModel.dfy"

module {:compile false} {:extern "Library"} Library {
  import opened System

{{{AutoExtern}}}
}
