/// # C#/Dafny interop: Dafny model template (filled by AutoExtern from ../Library/Library.cs)

include "CSharpModel.dfy"

module {:extern "App"} {:compile false} App {}

module {:compile false} {:extern "ExactArithmetic"} App.ExactArithmetic {
  import opened System
  type {:compile false} {:extern} Decimal {
    function method {:axiom} ToStr(): (s: System.String)
  }
}

module {:compile false} {:extern "Library"} App.Library {
  import opened System
  import ExactArithmetic
// {{{AutoExtern}}}
}
