body {
  background-color: light-blue;
}

h1 {
  color: blue;
  text-align: center;
  background-color: #fceb6c
}

p {
  font-size: 18px
}

td {
  font-size: 18px
}

li {
  font-size: 18px
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

