
# The Makefile has its own non-trivial logic for determining which files
# to include in which mode.
includes = []

[options]
# Options that help support more values of consuming context options
# (mostly turning on any more restrictive verification)
track-print-effects = true
enforce-determinism = true
reads-clauses-on-methods = true
type-system-refresh = true
general-traits = "datatype"
general-newtypes = true

# Options important for sustainable development
# of the libraries themselves.
resource-limit = 1000000
warn-redundant-assumptions = true
warn-contradictory-assumptions = false

library = [
  "../../../binaries/DafnyStandardLibraries.doo"
]
