name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  dotnet-version: 5.0.x # SDK Version for building Dafny; x will use the latest version of the 5.0 channel
jobs:
  singletons:
    runs-on: ubuntu-16.04
    steps:
    - name: Setup dotnet 5.0
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: ${{env.dotnet-version}}
    - name: Checkout Dafny
      uses: actions/checkout@v2
      with:
        path: dafny
    - name: Restore tools
      working-directory: dafny/Source
      run: dotnet tool restore
    - name: Check code style
      working-directory: dafny/Source
      run: dotnet tool run dotnet-format -w --check Dafny.sln
    - name: Get XML
      id: boogieVersion
      uses: QwerMike/xpath-action@v1
      with:
        filename: 'dafny/Source/Directory.Build.props'
        expression: "//PackageReference[@Include='Boogie.ExecutionEngine']/@Version"

    - uses: actions-ecosystem/action-regex-match@v2
      id: regex-match
      with:
        text: ${{ steps.boogieVersion.outputs.result }}
        regex: ' Version="([\d\.]+)"'
    - name: Attempt custom Boogie patch
      working-directory: dafny
      run: git apply customBoogie.patch
    - name: Checkout Boogie
      uses: actions/checkout@v2
      with:
        name: boogie-org/boogie
        path: boogie
        ref: v${{ steps.regex-match.outputs.group1 }}
    - name: Build Dafny with local Boogie
      working-directory: dafny
      run: dotnet build Source/Dafny.sln
      
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        ## Windows jobs fail on some lit tests and sometimes fail even to
        ## setup a work environment (e.g. dotnet installation)
        ##os: [ubuntu-latest]
        ##os: [ubuntu-latest, windows-latest, ubuntu-16.04]
        ##os: [ubuntu-latest, macos-latest]
        os: [
             ubuntu-latest,
             macos-latest,
           ##  windows-latest,
             ubuntu-16.04,
            ]
        ## Size of the following array must match --num-shards in lit command
        shard: [1, 2, 3, 4, 5]
        include:
        - os:                  'ubuntu-latest'
          os_for_build:        'ubuntu'
        - os:                  'ubuntu-16.04'
          os_for_build:        'ubuntu'
        - os:                  'macos-latest'
          os_for_build:        'osx'
        ##- os:                  'windows-latest'
        ##  os_for_build:        'win'

      fail-fast: false
    steps:
    - name: Manually sync certs
      if: runner.os == 'Linux'
      run: cert-sync /etc/ssl/certs/ca-certificates.crt
    - uses: actions/setup-python@v1
    - name: Setup dotnet 5.0
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: ${{env.dotnet-version}}
    - name: C++ for ubuntu 16.04
      if: matrix.os == 'ubuntu-16.04'
      run: |
        sudo apt-get install -y build-essential
    - name: Choose the right C++ for ubuntu 16.04
      if: matrix.os == 'ubuntu-16.04'
      run: |
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-9 60
    - uses: actions/setup-python@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Upgrade outdated pip
      run: python -m pip install --upgrade pip
    - name: Install lit
      run: pip install lit OutputCheck pyyaml
    - uses: actions/setup-node@v1
    - run: npm install bignumber.js
    - name: Checkout Dafny
      uses: actions/checkout@v2
      with:
        path: dafny
    - name: Create release
      run: |
        python dafny/Scripts/package.py 0.0.0-CI --os ${{ matrix.os_for_build }} --skip_manual=true --trial=true --github_secret=${{ secrets.GITHUB_TOKEN }} --out=CI.zip
    - if: runner.os == 'Windows'
      shell: pwsh
      run: |
        Expand-Archive dafny/Package/CI.zip unzippedRelease
    - if: runner.os != 'Windows'
      run: |
        unzip dafny/Package/CI.zip -d unzippedRelease
    - name: Run lit tests
      run: |
        ## lit in this context needs the executables specified
        lit --time-tests -v --num-shards=5 --run-shard=${{ matrix.shard }} --param executable=$PWD/unzippedRelease/dafny/dafny --param serverExecutable=$PWD/unzippedRelease/dafny/DafnyServer dafny/Test
