
# This workflow includes more expensive tests than what is run on every PR, that are unlikely to break on most changes.
# It also publishes a nightly release.
#
# The if at the beginning of each job terminates the workflow immediately on any repo (like a fork) that is not the main
# dafny-lang/dafny repo. This stops such forks from running this workflow and failing (for lack of a secret) the attempt to
# publish a nightly build themselves.

name: Nightly test and release workflow

on:
  schedule:
    # Chosen to be hopefully outside of business hours for most contributors'
    # time zones, and not on the hour to avoid heavy scheduled-job times:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: "30 14 * * *"
  workflow_dispatch:

jobs:
  nightly-build-for-master:
    if: github.repository_owner == 'dafny-lang'
    uses: ./.github/workflows/nightly-build-reusable.yml
    with:
      ref: master
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

  nightly-build-for-4-3:
    if: github.repository_owner == 'dafny-lang'
    uses: ./.github/workflows/nightly-build-reusable.yml
    with:
      ref: 4.3
      publish-prerelease: true
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
