name: Test Brew release on Mac

on:
  workflow_dispatch:
  # This would make more sense as a scheduled build like deep-tests.yml
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest
    steps:
    - name: Install dafny
      run: |
        brew install dafny

  check:
    needs: build
    runs-on: macos-latest
    uses: ./.github/workflows/reusable-smoke-test.yml
    with:
      os: macos-latest
