name: Build and Test Dafny Standard Libraries

on:
  workflow_dispatch:
  pull_request:
    branches: [ master, main-* ]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-deep-tests:
     uses: ./.github/workflows/check-deep-tests-reusable.yml

  build:
    needs: check-deep-tests
    if: false
    runs-on: macos-latest

    steps:
      - name: Checkout Dafny
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: 18
          distribution: corretto
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.16'
          cache: false
      - name: Set up goimports
        env:
          GO111MODULE: on
        run: go get golang.org/x/tools/cmd/goimports@release-branch.go1.15
      - name: Get Z3
        run: make z3-mac
      - name: Build Dafny
        run: make exe
      - run: npm install bignumber.js
      - name: Test DafnyStandardLibraries
        run: make -C Source/DafnyStandardLibraries all
      
