name: Run XUnit tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ master ]
  push:

## In the matrix:
##  os - name of the Github actions runner
##  suffix - name used in the description of the job
##  z3 - name of the Z3 asset at the 'z3BaseUri' URL
##  chmod - whether the Z3 download needs execute permissions added
##  exe_ext - the extension for executable files
##  coverage -- unused?

jobs:
  check-deep-tests:
     uses: ./.github/workflows/check-deep-tests-reusable.yml
     with:
       branch: master

  build:
    needs: check-deep-tests
    if: always() && ((needs.check-deep-tests.result == 'success' || contains(github.event.pull_request.labels.*.name, 'run-deep-tests')) || ( github.event_name == 'push' && ( github.ref_name == 'master' || vars.TEST_ON_FORK == 'true' )))
    runs-on: ${{matrix.os}}
    name: ${{matrix.suffix}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            suffix: ubuntu-20.04
            z3: z3-4.12.1-ubuntu-22.04
            chmod: true
            coverage: true
            exe_ext: ''
          - os: windows-2019
            suffix: win
            z3: z3-4.12.1-windows-2019
            chmod: false
            coverage: false
            exe_ext: '.exe'
          - os: macos-11
            suffix: osx
            z3: z3-4.12.1-macos-11
            chmod: true
            coverage: false
            exe_ext: ''
    env:
      solutionPath: Source/Dafny.sln
      z3BaseUri: https://github.com/dafny-lang/solver-builds/releases/download/snapshot-2023-02-17
      Logging__LogLevel__Microsoft: Debug
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore ${{env.solutionPath}}
    - name: Load Z3
      shell: pwsh
      run: |
        Invoke-WebRequest ${{env.z3BaseUri}}/${{matrix.z3}}-bin.zip -OutFile z3.zip
        Expand-Archive z3.zip .
        Remove-Item z3.zip
    - name: Move Z3
      run: mv z3-4.12.1${{matrix.exe_ext}} Binaries/z3/bin/z3${{matrix.exe_ext}}
    - name: Set Z3 Permissions
      if: ${{matrix.chmod}}
      run: chmod +x Binaries/z3/bin/z3
    - name: Build
      run: dotnet build -warnaserror --no-restore ${{env.solutionPath}}
    - name: Run DafnyLanguageServer Tests
      run: |
        ## Run twice to catch unstable code (Issue #2673)
        dotnet test --no-restore --logger "console;verbosity=detailed" --logger trx Source/DafnyLanguageServer.Test
        dotnet test --no-restore --logger "console;verbosity=detailed" --logger trx Source/DafnyLanguageServer.Test
    - name: Run DafnyDriver Tests
      run: dotnet test --no-restore --verbosity normal --logger trx Source/DafnyDriver.Test
    - name: Run DafnyPipeline Tests
      run: dotnet test --no-restore --verbosity normal --logger trx Source/DafnyPipeline.Test
    - name: Run DafnyTestGeneration Tests
      run: dotnet test --no-restore --verbosity normal --logger trx Source/DafnyTestGeneration.Test
    - name: Run AutoExtern Tests
      run: dotnet test --no-restore --verbosity normal --logger trx Source/AutoExtern.Test
    - name: Run DafnyRuntime Tests
      run: dotnet test --no-restore --verbosity normal --logger trx Source/DafnyRuntime.Tests
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: unit-test-results-${{ matrix.os }}
        path: Source/*/TestResults/*.trx
